@model IEnumerable<TodoList.Data.Domain.TodoListTask>

@{
    Layout = "~/Views/Shared/_TaskLayout.cshtml";
    ViewData["Title"] = "Task Index";
}

<div class="task-page-container">
    <aside class="task-sidebar" id="sidebar">
        <div class="menu-icon" onclick="toggleSidebar()"></div>
        <div class="sidebar-content">
        <a href="@Url.Action("Settings", "User")" class="sidebar-item">
                <span class="icon user-icon"></span><span class="text">My Profile</span>
            </a>
            <a href="@Url.Action("Index", "Task")" class="sidebar-item">
                <span class="icon today-icon"></span><span class="text">Today’s tasks</span>
            </a>
            <a href="@Url.Action("AllTasks", "Task")" class="sidebar-item">
                <span class="icon alltasks-icon"></span><span class="text">All tasks</span>
            </a>
            <a href="@Url.Action("Settings", "User")" class="sidebar-item">
                <span class="icon settings-icon"></span><span class="text">Settings</span>
            </a>
        </div>
    </aside>
    <section class="task-main">
        <div class="task-header-panel">
            <h2>Today's tasks</h2>
        
        </div>

        <div class="create-task-btn-container">
            <a href="#" class="create-task-btn">Create Task</a>
        </div>



         <div class="task-list">
             @foreach (var task in Model)
            {
                <div class="task-panel" onclick="toggleTaskStatus(this, @task.Id)">
                    <div class="task-info">
                        <span class="task-title">@task.Title</span>
                        <span class="task-time">@task.DueDate?.ToString("MMM dd, h:mm tt") ?? "No due date"</span>
                    </div>
                    <div class="task-status">
                        <span class="icon @(task.IsComplete ? "complete-icon" : "not-complete-icon")"></span>
                    </div>
                </div>
            }
        </div>
    </section>

        <script>
    // Assuming you're using jQuery
    function toggleTaskStatus(element, taskId) {
        $.ajax({
            url: '@Url.Action("ToggleTaskStatus", "Task")',
            type: 'POST',
            data: { id: taskId },
            success: function(response) {
                if(response.success) {
                    element.classList.toggle('task-complete');
                    if(response.status) {
                        element.querySelector('.icon').classList.remove('not-complete-icon');
                        element.querySelector('.icon').classList.add('complete-icon');
                    } else {
                        element.querySelector('.icon').classList.add('not-complete-icon');
                        element.querySelector('.icon').classList.remove('complete-icon');
                    }
                }
            }
        });
    }
</script>
</div>
